.content-meta {
  margin-top: 0;
  // font color
  color: #787878;
  // date font size
  font-size: 0.85rem;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
